<style>
    footer {
        color: #FFF;
        background-color: #111;
        text-align: center;
        padding: 2.5em;
        margin-top: auto;
    }
    
    .icons {
        padding-top: 1rem;
    }
    
    .icons a {
        text-decoration: none;
        font-size: 2rem;
        margin: 0.5rem;
        color: #f4f4f4;
    }
    
    .company-name {
        font-size: 1.6rem;
        margin-top: 0.5rem;
    }
    
    @media (max-width: 500px) {
        html {
            font-size: 50%;
        }
    }
    
    @media(min-width: 501px) and (max-width: 768px) {
        html {
            font-size: 50%;
        }
    }
</style>
<footer class="footer">
    <div class="icons">
        <a href="http://www.nitc.ac.in/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/school/national-institute-of-technology-calicut/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/nitcofficial/"><i class="fab fa-instagram"></i></a>
        <p class="company-name">
            NITC Query &copy; 2021, ALL Rights Reserved
        </p>
    </div>
</footer>