<html>
    <head>
        <link rel ="icon" href='/images/logo.png' type = "image/x-icon" sizes="32x32" >
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>This is <%= title%></h1>
    </body>

</html>