
    <link rel="stylesheet" href='/css/home.css'>
    <script src='/js/home.js'></script>

    <% if(locals.user){ %>
   <form action="/question/create" class="entry">
        <input type="text" placeholder="Ask Anything..." class="write-something-entry">
        <button class="enter" >Ask Question</button>
    </form>

    <% } %>

   


    <div class="container">
        <div class="response-group">
            <header>
                <h2>
                    <strong>Questioner</strong>
                    <i class="fa fa-angle-right">
                    </i><span>Roll No.</span>
                </h2>
            </header>
            <div class="response">
                <div class="response__number">1</div>
                <h1 class="response__title">When will we go back to NITC?</h1>
                <div class="post-group">

                    <div class="post" >
                        <div class="post__avatar">
                        </div>
                        <h3 class="post__author">Pasa Bhai</h3>
                        <h4 class="post__timestamp">Oct 13 at 8:51pm </h4>
                        <p class="post__body">Sapne mein bhai</p>

                    </div>

                    <% if(locals.user){ %>
                    <form action="/answer/create">
                       <input type="text" placeholder="Answer..." class="post__actions"><button class="enter" id="special_button">Post</button>

                    </form>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>