<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel ="icon" href='/images/logo.png' type = "image/x-icon" sizes="32x32" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- cdn for noty -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href='/css/login.css'>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 1rem;">
    <a class="navbar-brand" style="font-size: 1.5rem;" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.5rem; " href="/users/sign-up">Sign Up</a>
        </li>
        
      </ul>
    </div>
    <div style="padding-right:2rem ;margin-top: 0.5rem;">
          
      <div style="display: inline-block;margin-right:1rem"><p style="color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1.5rem;font-style: oblique;">NITC QUERY</p></div>
      <div style="display: inline-block;"><img src ="/images/logo.png" style="width:35px"></div>
  </nav>
  <!-- <div class="login">
    <p id="welcome">Welcome Back :)</p>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div> -->

  <div class="box">
    <form class="box" action="/users/create-session" method="post">
      <h1>LOGIN</h1>
      <input type="text" maxlength= "9" name="rollnum" placeholder="NITC Roll Number" required />     
      <input type="password"  placeholder="Password" name="password" required>
      <input class="log" type="submit" value="Login" />
    
    </form>
  </div>




  <script>
    <% if (flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'sunset',
            text: "<%= flash.success %>",
            type: 'success',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>

    <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'sunset',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>
</script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>